.body__main {
    padding: 25px;
    position: relative;
    .main__featured {
        margin: 0 auto;
        max-width: 850px;
        position: relative;
    }
    .featured__details {
        margin: 0 auto;
        max-width: 349px;
        width: 100%;
    }
    .details__title {
        background-color: $beReelYellow;
        background-image: url('assets/images/SVG/grey-corner.svg');
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 105%;
        padding: 30px 20px;
        position: relative;
        a {
            text-decoration: none;
        }
    }
    .title__episode {
        background-color: $beReelBlack;
        bottom: 0;
        display: inline-block;
        left: 20px;
        padding: 4.5px 20px;
        position: absolute;
        transform: translate(0, 50%);
        h3 {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    .details__teaser {
        background-color: white;
        padding: 25px 50px;
    }
}

.featured__play {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%) rotate(2deg);
    width: 183px;
}

.content__review .featured__play {
    bottom: auto;
    top: 0;
}

.episodes--container {
    padding: 25px 0 50px;
    position: relative;
    .before--hanger {
        background-color: $beReelLightGrey;
        content: '';
        height: 10px;
        position: absolute;
        top: 40px;
        width: 100%;
    }
}

.episodes--heading {
    background-color: $beReelBlack;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -36px;
    padding: 5px 20px;
    position: relative;
    z-index: 99999;
    width: 132px;
    h3 {
        color: white;
    }
}

.body__episodes {
    align-items: stretch;
    display: flex;
    position: relative;
    .episodes__episode {
        background-color: $beReelDarkBlue;
        cursor: move;
        margin-right: 10px;
        position: relative;
        transform-origin: 50% 260px;
        width: 250px;
        > a {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &:before {
            background-color: $beReelYellow;
            content: '';
            height: 10px;
            left: 0;
            position: absolute;
            top: -10px;
            width: 100%;
        }
        .episode__link {
            background-color: white;
            font-family: 'Brown Light', sans-serif;
            font-size: 1.125rem;
            padding: 20px;
            position: relative;
            width: 100%;
            z-index: 100;
            h2 {
                background-color: white;
                border-bottom: 5px solid $beReelYellow;
                cursor: pointer;
                font-size: 1.75rem;
                margin: 0;
                padding: 5.5px 15px;
                position: relative;
                text-align: center;
                transition-duration: .15s;
            }
        }
        &.playing .episode__play {
            background-image: url('assets/images/SVG/pause.svg');
        }
    }
    .episode__play {
        background-color: $beReelBlue;
        background-image: url('assets/images/SVG/play.svg');
        border-radius: 50%;
        cursor: pointer;
        height: 50px;
        margin: -25px auto;
        position: relative;
        width: 50px;
        z-index: 99999;
    }
    .episode__image {
        background-size: cover;
        height: 250px;
    }
    .episode__title {
        background-color: $beReelDarkBlue;
        height: 200px;
        padding: 40px 20px;
        position: relative;
        &::after {
            background-color: $beReelDarkBlue;
            bottom: 0;
            content: '';
            height: 40px;
            left: 0;
            position: absolute;
            width: 100%;
        }
        h2 {
            color: white;
        }
    }
    .quadrant--container {
        background-color: white;
    }
}

.episode__number {
    background-color: $beReelBlack;
    display: inline-block;
    left: 20px;
    padding: 5px 20px;
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    h3 {
        color: white;
    }
}

.movies--toggle {
    margin: 26px;
}

.body__movies {
    align-items: stretch;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px;
    max-width: 850px;
    padding: 25px;
    h2 {
        background-color: white;
        border-bottom: 5px solid $beReelYellow;
        cursor: pointer;
        display: inline-block;
        font-size: 1.75rem;
        margin: 0;
        padding: 5.5px 15px;
        position: relative;
        text-align: center;
        transition-duration: .15s;
        width: 100%;
        &:after {
            border: 1px solid $beReelLightGrey;
            content: '';
            height: calc(100% + 5px);
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &:nth-of-type(2) {
            margin: 26px 0 0;
        }
        &.inactive {
            border-bottom: 5px solid white;
            color: $beReelGrey;
        }
    }
    .movies__quadrant {
        padding: 0 0 25px;
        margin: -5px 21px 21px;
    }
}

.quadrant--container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    .quadrant__letter {
        margin: 25px 5px;
        width: 100%;
        &:nth-of-type(1) {
            margin: 5px 5px 25px;
        }
        strong {
            background-color: $beReelBlack;
            color: white;
            display: inline-block;
            padding: 5px 20px;
        }
    }
    .quadrant__movie {
        box-sizing: border-box;
        cursor: pointer;
        margin: 5px;
        position: relative;
        .movie__title {
            background-color: $beReelYellow;
            color: $beReelBlack;
            font-weight: bold;
            text-align: center;
            z-index: 999999;
            a {
                display: block;
                font-family: 'Brown Light', sans-serif;
                padding: 10px;
                text-decoration: none;
                text-align: left;
            }
        }
    }
}

.body__about {
    padding: 25px;
    .about__content {
        margin: 0 auto;
        max-width: 850px;
        position: relative;
    }
    .content__text {
        .text__header {
            background-color: $beReelYellow;
            background-image: url('assets/images/SVG/grey-corner-reversed.svg');
            background-repeat: no-repeat;
            background-position: 100% 0%;
            background-size: 105%;
            padding: 30px 20px;
            position: relative;
            .header__tagline {
                background-color: $beReelBlack;
                bottom: 0;
                display: inline-block;
                left: 20px;
                padding: 4.5px 20px;
                position: absolute;
                transform: translate(0, 50%);
                h3 {
                    color: white;
                }
            }
        }
        .text__explanation {
            background-color: white;
            padding: 25px 50px;
        }
    }
}

.big-play-1 {
    fill: #596c82;
}

.big-play-2 {
    fill: #72b2f2;
}

.big-play-3 {
    font-size: 43.72px;
    fill: #1a1a1a;
    font-family: Bodoni-BoldItalic, Bodoni;
    font-weight: 700;
    font-style: italic;
}

.big-play-4 {
    letter-spacing: -0.04em;
}

.spring {
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .body__main {
        .featured__play {
            bottom: 0;
            cursor: pointer;
            left: 349px;
            position: absolute;
            transform: translate(-50%, 50%) rotate(2deg);
            width: 183px;
        }
        .content__review .featured__play {
            bottom: auto;
            top: 0;
        }
    }
    .main__featured {
        align-items: stretch;
        display: flex;
        .featured__image {
            background-position: 50% 50%;
            background-size: cover;
            margin-top: 30px;
            width: calc(100% - 349px);
        }
    }
    .body__movies {
        h2 {
            display: block;
            padding: 10px 25px;
            width: 250px;
            &:nth-of-type(2) {
                margin: 0 0 0 25px;
            }
        }
    }
    .movies--toggle {
        display: flex;
    }
    .body__about {
        position: relative;
        .content__graph {
            background-color: $beReelDarkBlue;
            bottom: 25px;
            height: calc(100% - 125px);
            left: 0;
            position: absolute;
            transform: rotate(1.5deg);
            width: 100%;
            z-index: 100;
            &:after {
                background-color: $beReelLightBlue;
                width: 100%;
                height: 100%;
                content: '';
                left: -10px;
                top: -10px;
                position: absolute;
                z-index: 0;
            }
        }
        .content__text {
            margin: -35px auto 0;
            max-width: 450px;
            position: relative;
            z-index: 200;
        }
    }
}

.body__popup {
    background-color: white;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    .popup__episode {
        .content__image {
            height: 0;
            padding-top: 100%;
        }
        .content__title {
            background-color: $beReelYellow;
            position: relative;
            h2 {
                padding: 30px 20px;
                width: calc(100% - 85px);
            }
            .title__image {
                background-position: 50% 50%;
                background-size: cover;
                height: 85px;
                right: 0;
                position: absolute;
                top: 0;
                width: 85px;
            }
        }
        .content__review {
            background-color: white;
            padding: 120px 20px 20px;
            position: relative;
        }
        .content__shim {
            height: 50px;
            width: 100%;
        }
    }
}

iframe {
    width: 100%;
}

@media only screen and (min-width: 951px) {
    .popup__episode {
        background-color: white;
        .episode__content {
            .content__review {
                padding: 120px 200px 20px;
            }
        }
    }
}
