#wpadminbar {
    position: fixed !important;
}

.body__header {
    align-items: flex-end;
    background-color: white;
    background-image: url('assets/images/SVG/graph-paper.svg');
    background-position: 50% 0;
    background-size: 25px;
    display: flex;
    height: 151px;
    justify-content: space-between;
    padding-bottom: 25px;
    .header__logo {
        margin: 0 auto;
        position: relative;
        transform: rotate(-1.5deg);
        width: 325px;
        h1 {
            border: 0 !important;
            clip: rect(1px, 1px, 1px, 1px);
            display: inline-block;
            font-size: 0;
            height: 1px;
            margin: 0 !important;
            overflow: hidden;
            padding: 0 !important;
            position: absolute !important;
            width: 1px;
        }
        img,
        object {
            display: block;
            width: 325px;
        }
        a {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    .header__nav {
        display: none;
    }
}

@media only screen and (min-width: 951px) {
    .admin-bar {
        .body__header {
            top: 32px;
        }
    }
    .body__header {
        background-position: 0 0;
        left: 0;
        margin: 0 auto;
        max-width: 951px;
        z-index: 999999;
        .header__logo {
            margin: 0 0 0 51px;
            width: 299px;
            img,
            object {
                width: 299px;
            }
        }
        .header__nav {
            display: block;
            margin-right: 51px;
            ul {
                display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    background-color: white;
                    height: 74px;
                    margin-bottom: 1px;
                    margin-left: 26px;
                    position: relative;
                    width: 149px;
                    a {
                        align-items: center;
                        border-bottom: 5px solid white;
                        color: $beReelGrey;
                        display: flex;
                        font-family: 'Futura Condensed Medium', sans-serif;
                        font-size: 1.75rem;
                        height: 100%;
                        justify-content: center;
                        left: 0;
                        position: absolute;
                        text-decoration: none;
                        top: 0;
                        transition-duration: .25s;
                        width: 100%;
                        &.current {
                            border-bottom: 5px solid $beReelYellow;
                            color: $beReelBlack;
                        }
                    }
                }
            }
        }
    }
}
